@import 'tailwindcss';

@theme {
  --font-sans: 'system-ui', 'Segoe UI', 'Roboto', sans-serif;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
  overscroll-behavior-y: none;
}
